{% extends "layout.html" %}

{% block content %}
<div class="col-lg-12">
    <div class="row pb-3"> 
        {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <a href="{{ url_for('products.get_product', product_name=product.product_name) }}">
                            <img class="img-fluid" src="{{url_for('static', filename='img/' + product.image_path)}}">
                        </a>
                    </div>
                        
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">

                        <a class="text-truncate mb-3" href="{{url_for('products.get_product', product_name=product.product_name)}}">{{ product.product_name }}</a>
                        
                        
                        <div class="d-flex justify-content-center">
                            <h5 class="font-weight-semi-bold m-0">{{ product.product_price }} DZD</h5>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{{url_for('products.get_product', product_name=product.product_name)}}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        {% if current_user.is_authenticated %}
                            <a href="{{url_for('products.add_product', product_id=product.id)}}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                        {% else %}
                            <a href="{{url_for('customers.customer_login')}}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>  
{% endblock content %}

